pom.xml
*jar
/lib/
/classes/
/target/
/resources/public/css/
/resources/public/js/compiled/
/resources/public/vendor/
.lein-deps-sum
.lein-repl-history
.nrepl-port
.lein-plugins/
.DS_Store
.idea
*.iml