body
  background-color: #eee

.bomberman-game
  background-color: white

  .menu
    .col1, .col2, .col3
      width: 30%

    .row1
      height: 200px

    .row2
      .links
        text-align: center

        li
          height: 3em
          list-style-type: none

          button
            font-size: 1.5em
            font-family: "Roboto Slab" serif
            border: none
            background: none
            outline: none

            &:hover
              cursor: pointer
              text-shadow: 2px 2px #B4B4B4

