@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/robo_slap.ttf) format('truetype')

body
  background-color: #eee

.bomberman-game
  .menu-page
    background-color: white
    box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.1)

    img
      padding: 30px

    ul
      padding: 0
      margin: 0
      list-style: none

      li
        button
          font-size: 1.5em
          font-family: "Roboto Slab"
          border: none
          background: none
          outline: none
          padding: 5px

          &:hover
            cursor: pointer
            text-shadow: 2px 2px #B4B4B4

        &:last-child button
          margin-bottom: 10px

  .game-page
    .window
      text-align: initial

      .board
        position: relative
        overflow-x: hidden

        .bomb
          position: absolute
          display: inline-block
          background-color: red
          width: 50px
          height: 50px
          z-index: 1

        .player
          position: absolute
          display: inline-block
          background-color: green
          width: 50px
          height: 50px
          z-index: 2

        .board-row
          text-align: left
          width: 999999px
          overflow: hidden

          .cell
            width: 50px
            height: 50px
            display: inline-block

            &.empty
              background-color: #ddd

            &.boundary
              background-color: black

            &.obstacle
              background-color: grey
